@charset "utf-8";
/* CSS Document */
body{
	background: #02015C;
	  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  font-size: 30px;
}
nav{
			height:50px;
			width:100%;
		}
		nav #menu{
			margin-left: 20px;
			color:#777;
			transform:0.3s;
			font-size: 23px;
			padding: 10px;
			z-index: 100;
			transition: 0.3s;
			border-radius: 50%;
		}
		nav #menu:hover{
			align-items: center;
			z-index: -100;
			width: 40px;
			height: 40px;
			background-color:#fff; 
			border-radius: 50%;
		}
		nav #arrow{
			margin-left: 20px;
			color:#777;
			transform:0.3s;
			font-size: 23px;
			padding: 10px;
			z-index: 100;
			transition: 0.3s;
			border-radius: 50%;
		}
		nav #arrow:hover{
			align-items: center;
			z-index: -100;
			width: 40px;
			height: 40px;
			background-color:#fff; 
			border-radius: 50%;
		}
		nav #menu1{
			margin-left: 20px;
			color:#777;
			transform:0.3s;
			font-size: 23px;
			padding: 10px;
			z-index: 100;
			transition: 0.3s;
			border-radius: 50%;
		}
		nav #menu1:hover{
			align-items: center;
			z-index: -100;
			width: 40px;
			height: 40px;
			background-color:#fff; 
			border-radius: 50%;
		}
		#sidebar{
			width: 0;
			left: 0;
			display: none;
			position: absolute;
			height: 100%;
			background-color: #fff;
			z-index: 1800;
			transition: 0.4s;
			
		}
		#sidebar ul{
			padding: 0;
			margin: 0;
			font-size:30px;
		}
		#sidebar ul li{
			display: block;
			list-style: none;
			padding: 20px;
			padding-left:40px;
			border-bottom: 1px solid #E9ECEF;
			-webkit- transition: 0.3s;
			-moz- transition: 0.3s;
			-o- transition: 0.3s;
			transition: 0.3s;
       }
		#sidebar ul li:hover {
			background-color: #E9ECEF;
			padding-left: 15px;
			
}
		#sidebar ul li a:hover{
			color:#000;
		}
		#sidebar ul li a{
			display: block;
			color: #999;
			text-decoration: none;
}
#timing{
	text-align: center;
	
}
#chooseAnyIcon ul{
		padding: 0;
		margin: 0;
		font-size: 20px;
}
#chooseAnyIcon ul li{
			display: block;
			list-style: none;
			padding: 7px;
			padding-left:40px;
			border-bottom: 1px solid #E9ECEF;
			-webkit- transition: 0.3s;
			-moz- transition: 0.3s;
			-o- transition: 0.3s;
			transition: 0.3s;
       }
		#chooseAnyIcon ul li:hover {
			background-color: #E9ECEF;
			padding-left: 15px;
			
}
.masthead {
  min-height: 30rem;
  position: relative;
  display: table;
  width: 100%;
  height: 100%;
  padding-top: 8rem;
  padding-bottom: 8rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
	z-index: 1500;
  h1 {
    font-size: 4rem;
    margin: 0;
    padding: 0;
  }
  @media (min-width: 992px) {
    height: 100vh;
    h1 {
      font-size: 5.5rem;
    }
  }
}
#welcomePage{
	width: 100%;
	height: 600px;
   z-index: 1200;
/*	background: #2A003A;*/
	margin-top: 50px;
}
#calculatePage{
	width: 100%;
	height: 600px;
   z-index: 1500;
/*	background: #2A003A;*/
	margin-top: 50px;
	display: none;
}
#aboutPage{
	width: 100%;
	height: 600px;
   z-index: 1500;
/*	background: #2A003A;*/
	margin-top: 50px;
	display: none;
}
#exitPage{
	width: 100%;
	height: 600px;
   z-index: 2300;
	margin-top: 50px;
	display: none;
}




